@media screen and (min-width: 240px) {
    html,body,button,input,select,textarea {
        font-size:9px
    }
}

@media screen and (min-width: 320px) {
    html,body,button,input,select,textarea {
        font-size:12px
    }
}

@media screen and (min-width: 374px) {
    html,body,button,input,select,textarea {
        font-size:14px
    }
}

@media screen and (min-width: 400px) {
    html,body,button,input,select,textarea {
        font-size:15px
    }
}

@media screen and (min-width: 413px) {
    html,body,button,input,select,textarea {
        font-size:15.5px
    }
}

@media screen and (min-width: 426px) {
    html,body,button,input,select,textarea {
        font-size:16px
    }
}

@media screen and (min-width: 450px) {
    html,body,button,input,select,textarea {
        font-size:18px
    }
}

@media screen and (min-width: 480px) {
    html,body,button,input,select,textarea {
        font-size:18px
    }
}

@media screen and (min-width: 540px) {
    html,body,button,input,select,textarea {
        font-size:20.25px
    }
}

@media screen and (min-width: 590px) {
    html,body,button,input,select,textarea {
        font-size:22.13px
    }
}

@media screen and (min-width: 600px) {
    html,body,button,input,select,textarea {
        font-size:22.5px
    }
}

@media screen and (min-width: 640px) {
    html,body,button,input,select,textarea {
        font-size:24px
    }
}

@media screen and (min-width: 720px) {
    html,body,button,input,select,textarea {
        font-size:27px
    }
}

@media screen and (min-width: 800px) {
    html,body,button,input,select,textarea {
        font-size:30px
    }
}

.top{
    width:100%;
    height:50px;
    line-height:50px;
    overflow:hidden;
    background:#64c4f0;
}
.logo,.erweima,.lvl,.lock,.layer-t,.dot,.error,.layer-suc,.menu i,.state-img,.sp-b i,.tbDiv i,.editBtn{
    background:url(../images/icons.png) 0 0 no-repeat;
}

.logo{
    width: 155px;
    height: 25px;
    background-position: -3px -242px;
    margin-top: 13px;
    float: left;
}
.wrap{
    width:100%;
    margin:0 auto;
    position:relative;
}
img{width:100%;}
.cloud{width:5rem;margin:1rem 0; text-align:left;}
.c1{}
.c2{margin-left:80%;}
.bot-logo{margin:1.5rem auto; text-align:center;width:10rem;}

.img1,.img2{
    text-align:center;
    margin:10px 0;
}
.img2{cursor:pointer;}
.bd{
    width:100%;
    margin:0 auto;
    text-align:center;
}
.wrap h1{
    width:100%;
    margin:30px auto 0 auto;
    height:38px;
    line-height:38px;
    text-align:center;
    color:#fff;
    font-size:1.2rem;
    font-weight:normal;
}
.wrap h1 a{
    float:right;
    margin-right:20px;
}
.img-box{
	width:80%;
	height:5rem;
	margin:0 auto;
	position:relative;
}
.img-box .imgbg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.txt-box{
	width:100%;
	font-size:2rem;
	color:#31afdc;
	height:7rem;
	text-align:center;
}
.txt-box span{
	display:block;
	position:relative;
}
.logo-box{
	width:12rem;
	margin:0 auto;
	position:absolute;
	left:50%;
	margin-left:-6rem;
}
.logo-txt{
	width:12rem;
	margin:1rem auto 0 auto;
	text-align:center;
}
.bd-box{
    width:100%;
    margin:0 auto;
    position:relative;
}

.btn-box{
    width:90%;
    margin:1rem auto;
}
.btn{
    width:10rem;
    height:3rem;
    line-height:3rem;
    display:inline-block;
    text-align:center;
    color:#fff;
    border-radius:4px;
    background:#09aafc;
	border:none;
    cursor:pointer;
    vertical-align:middle;
    /*margin-left: 20px;*/
}
.btn:hover{
    background:#85d3fb;
    color:#fff;
    text-decoration:none;
}
.loading p {
    text-align:center;
    font-size:12px;
    color:#fff;
}

.nav{
    width:90%;
    margin:1rem auto;
    overflow:hidden;
    height:3rem;
    line-height:3rem;	
	border:1px #69c9f5 solid;
}

.nav a{
    float:left;
    width:25%;
    text-align:center;
    color:#31afdc;
}
.nav a:hover{
    text-decoration:none;
}
.nav a.selected{
    background:#31afdc;
	color:#fff;
}

.navStep a{
    width:140px;
}
.sub{
    display:none;
}
.sub-box{
    width:90%;
    margin:0 auto;
}
.sub-box p{
    text-align:left;
    color:#31afdc;
    font-size:1rem;
}
.list{
    width:100%;
    margin:1rem auto;
    border-radius:3px;
	background:#fff;
	overflow:hidden;
}
.bdlist{border:1px #aadffa solid;border-bottom:none;}
.list li{
    border:1px #aadffa solid;
	overflow:hidden;
	margin:.5rem 0;
}
.list .change{
    margin:0;
    border:none;
    text-align:right;
}

.list li span{
    float:left;
    height:2.5rem;
    line-height:2.5rem;
}
.list li .sp-l{
    width:25%;
    text-align:center;
    color:#31afdc;
    border-right:1px #aadffa solid;
}
.list li .sp-r{
    width:70%;
    text-align:left;
    position:relative;
}
.sp-r label{
    position:absolute;
    height:2.5rem;
    left:.5rem;
    color:#77d1f8;
    cursor:text;
    z-index:3;
}

.inpt{
    height:2rem;
    line-height:2rem;
    border:none;
    outline:none;
    background:none;
    width:90%;
	color:#31afdc;
	padding:0 1rem;
}

.bot{
    margin:1rem 0;
    overflow:hidden;
}
.bot a{color:#fff; text-decoration:underline;font-size:1rem;}
.wifi{ text-align:left;padding-left:25%;}
.wifi a{margin-right:1rem;}

.wifi-list{
    width:90%;
    margin:2rem auto;
}
.getWifiList{
	max-height:21rem;
	overflow-y:auto;
	overflow-x:hidden;
}
.wifi-list td{
    padding:8px 0;
    text-align:center;
	font-size:.7rem;
	color:#31afdc;
}
.wifi-list thead td{
    border-bottom:1px #d8eaf3 solid;
    color:#31afdc;
}

.lvl{
    width:30px;
    height:24px;
    display:inline-block;
    position:relative;
    vertical-align:middle;
    *margin-top:6px;
}
.lvl-1{
    background-position:-72px -286px;
}
.lvl-2{
    background-position:-100px -286px;
}
.lvl-3{
    background-position:-125px -286px;
}
.lock{
    width:10px;
    height:10px;
    display:inline-block;
    position:absolute;
    right:-1px;
    bottom:-1px;
    background-position:-162px -297px;	
}

.wifiConnectLayer{	
    width:360px;
    height:auto;
    padding-bottom:15px;
    position:relative;
    display:none;
}
.bg{
    background:#fff;	
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:5;
    border-radius:5px;
}

.con{
    position:relative;
    z-index:10;
    overflow:hidden;
}
.con p{
    text-align:center;
    font-size:16px;
    margin-top:30px;
    margin-bottom: 10px;
}
.con .list{	
    width:300px;
    margin:0 auto;
    overflow:hidden;
    text-align:center;
    position:relative;
}

.con li .sp-r{
    width:70%;
}
.con .inpt{
    width:90%;
}
.con3 .inpt{
    width:155px;
    position:relative;
    z-index:5;
}
.layer-btn{
    width:140px;
    height:37px;
    line-height:37px;
}

.cannel{
   /* border-color:#69c9f5;
    color:#69c9f5;
    background:#fff;*/
}
.box{	
    width:300px;
    margin:30px auto 10px auto;
    overflow:hidden;
    text-align:center;
}
.guid{
    width:100%;
    margin:0 auto;
}
.guid-con{
    width:95%;
    margin:0 auto;
    position:relative;	
}
.guid-img{

}
.text{
	text-align:center;
	color:#fff;
}
.text h2{
    font-size:24px;
    font-weight:normal;
    color:#23aae8;
	display:none;
}
.text p{
    margin:1rem auto;
}

.layer-t{
    width:273px;
    height:71px;
    margin:20px auto;
    background-position:-5px -359px;
    position:relative;

}
.dot{
    width:16px;
    height:9px;
    background-position:-405px -12px;
    position:absolute;
    top:54px;
    display:none;
}
.error{
    width:17px;
    height:17px;
    background-position:-381px -8px;
    position:absolute;
    top:50px;
    display:none;
}

.d1{left:95px;}
.d2{left:120px;}
.d3{left:145px;}


.hide{display:none;}
.show{display:block;}
.layer-suc{
    width:143px;
    height:104px;
    background-position:-322px -327px;
    margin:30px auto 0 auto;
}
.con2 .box{
    margin:30px auto;
}
.con2 p{
    margin-top:10px;
}

.mlsp{margin-left:6px;}
.macInpt{display:none;}
.userInpt{
	border:1px #65ccf8 solid;
	width:8rem;
	border-radius:4px;
	outline:none;
	vertical-align:middle;
}

.sucbox p{font-size:1.2rem;margin:1rem 0;}
.sucbox dl{margin:2rem 0;color:#31afdc;font-size:1.2rem; overflow:hidden;}
.sucbox dt{float:left;width:10rem;}
.sucbox dd{float:right;width:12rem; text-align:left;}
.sucbox .more{margin-top:1rem;}
.sucbox a{color:#31afdc; text-decoration:underline;display:block;word-wrap:break-word;}
.sucbox a:hover{color:#333;}

#account_login{
    display: none;
}
#start_run{
    display: none;
}
#netWorkSet{
    display: none;
}
.hide{display:none;}
.show{display:block;}
.check_channel{
    width: 130px;
    position: absolute;
    left: 10px;
    top:10px;
}